<div th:fragment="content">
    <form action="@{/blogs}" method="GET" class="form-inline">
        <div class="form-group">
            <label for="keyword">Name</label>
            <input type="text" class="form-control" name="keyword" placeholder="Input field" th:value="${keyword}">
        </div>
        <div class="form-group">
            <label for="order">Sort</label>
            <select name="order" class="form-control">
                <option value="">Default</option>
                <option value="id-asc" th:selected="${order == 'id-asc'}">Sort ascending by ID</option>
                <option value="id-desc" th:selected="${order == 'id-desc'}">Sort descending by ID</option>
                <option value="name-asc" th:selected="${order == 'name-asc'}">Sort ascending by name</option>
                <option value="name-desc" th:selected="${order == 'name-desc'}">Sort descending by name</option>
                <option value="created_at-asc" th:selected="${order == 'created_at-asc'}">Sort ascending by created_at</option>
                <option value="created_at-desc" th:selected="${order == 'created_at-desc'}">Sort descending by created_at</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        <a href="/blogs/create" class="btn btn-success ml-auto"><i class="fa fa-plus"></i> Add New</a>
    </form>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Link</th>
            <th>Image</th>
            <th>Description</th>
            <th>Position</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog : ${blogs}">
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td><a th:href="${blog.link}" >Click here !</a></td>
            <td><img th:src="@{'/uploads/blog/' + ${blog.image}}" width="50"></td>
            <td th:text="${blog.description}"></td>
            <td th:text="${blog.position}"></td>
            <td th:text="${blog.status == 1 ? 'Publish' : 'Hidden'}"></td>
            <td th:text="${blog.createdAt}"></td>
            <td sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                <a th:href="@{'/admin/blog/edit/' + ${blog.id}}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                <form th:action="@{/admin/blog/delete/{id}(id=${blog.id})}" method="post" style="display:inline;">
                    <button  class="btn btn-sm btn-danger" onclick="return confirm('Are you sure want to delete it?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
