<div th:fragment="content">
  <form action="/admin/user/update" method="POST" th:object="${user}" sec:authorize="hasRole('ADMIN')">
    <input type="hidden" name="_method" value="PUT"/>
    <input type="hidden" name="id" th:value="${user.id}"/>

    <div class="form-group">
      <label>User name</label>
      <input type="text" name="name" class="form-control" placeholder="Name" th:value="${user.name}">
    </div>

    <div class="form-group">
      <label>User Email</label>
      <input type="text" name="email" class="form-control" placeholder="Email" th:value="${user.email}">
    </div>

    <div class="form-group" th:if="${user.email != #authentication.name}">
      <label>Role Management</label>
      <div class="radio" >
        <label><input type="radio" name="role" value="USER" th:checked="${user.role == 'USER'}"> User</label>
      </div>
      <div class="radio" >
        <label><input type="radio" name="role" value="EDITOR" th:checked="${user.role == 'EDITOR'}"> Editor</label>
      </div>
      <div class="radio" >
        <label><input type="radio" name="role" value="ADMIN" th:checked="${user.role == 'ADMIN'}" > Admin</label>
      </div>
    </div>

    <div class="form-group" th:if="${user.email == #authentication.name}">
      <label>User Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" th:value="${user.password}">
    </div>

    <div class="form-group" th:if="${user.email == #authentication.name}">
      <label>Confirm Password</label>
      <input type="password" name="re_password" class="form-control" placeholder="Confirm Password">
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
  </form>

</div>