  <div id="preloader">
  <div id="loading-center">
    <div class="loader">
      <div class="loader-outter"></div>
      <div class="loader-inner"></div>
    </div>
  </div>
</div>

<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
  <i class="fas fa-angle-up"></i>
</button>

<header class="transparent-header">
  <div class="header-top-wrap">
    <div class="container custom-container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-8"></div>
        <br>
        <div class="col-lg-6 col-md-4">
          <div class="header-top-right">
            <div class="header-top-menu">
              <ul class="list-wrap">

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sticky-header" class="menu-area">
    <div class="container custom-container">
      <div class="row">
        <div class="col-12">
          <div class="menu-wrap">
            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            <nav class="menu-nav">
              <div class="logo">
                <a th:href="@{/}"><img th:src="@{/uploads/logo/logo.png}" alt="Logo"></a>
              </div>
              <div class="navbar-wrap main-menu d-none d-lg-flex">
                <ul class="navigation">
                  <li class="active"><a th:href="@{/}">Home</a></li>
                  <li class="menu-item-has-children">
                    <a th:href="@{/category}">PRODUCTS</a>
                    <ul class="sub-menu">
                      <li th:each="cath : ${cats_home}">
                        <a th:href="@{/category/{id}(id=${cath.id})}" th:text="${cath.name}"></a>
                      </li>
                    </ul>
                  </li>
                  <li><a th:href="@{/blogs}">BLOG</a></li>
                  <li><a th:href="@{/contact}">Contact</a></li>
                </ul>
              </div>
              <div class="header-action d-none d-md-block">
                <ul class="list-wrap">
                  <li class="header-search">
                    <a href="#"><i class="flaticon-search"></i></a>
                  </li>
                  <li id="shoping_cart" class="header-shop-cart">
                    <a th:href="@{/cart}">
                      <i class="flaticon-shopping-basket"></i>
                      <span th:text="${carts ?: ''}"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header-search -->
  <div class="search-popup-wrap" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="search-wrap text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="search-form">
              <form action="" method="GET">
                <input name="keyword" type="text" placeholder="Enter your keyword..." th:value="${param.keyword?:''}">
                <button class="search-btn"><i class="flaticon-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-backdrop"></div>
</header>
