<div th:fragment="content">
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>image</th>
            <th>price</th>
            <th>sale_price</th>
            <th>category_id</th>
            <th>status</th>
            <th>created_at</th>
            <th>update_at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${list}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.image}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.sale_price}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.status}"></td>
            <td th:text="${product.created_at}"></td>
            <td th:text="${product.update_at}"></td>
        </tr>
        </tbody>
    </table>
</div>

