<div th:fragment="content">
    <form th:action="@{admin/product}" method="GET" class="form-inline" role="form">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="keyword" placeholder="Input field" th:value="${param.keyword}">
        </div>

        <div class="form-group">
            <label>Category</label>
            <select name="cat_id" class="form-control">
                <option value="">Choice One---</option>
                <option th:each="cat : ${cats}" th:value="${cat.id}" th:text="${cat.name}" th:selected="${param.cat_id == cat.id}"></option>
            </select>
        </div>

        <div class="form-group">
            <label >Arrange</label>
            <select name="order" class="form-control">
                <option value="">Default</option>
                <option value="id-asc" th:selected="${param.order == 'id-asc'}">Sort ascending by ID</option>
                <option value="id-desc" th:selected="${param.order == 'id-desc'}">Sort descending by ID</option>
                <option value="name-asc" th:selected="${param.order == 'name-asc'}">Sort ascending by name</option>
                <option value="name-desc" th:selected="${param.order == 'name-desc'}">Sort descending by name</option>
                <option value="created_at-asc" th:selected="${param.order == 'created_at-asc'}">Sort ascending by created_at</option>
                <option value="created_at-desc" th:selected="${param.order == 'created_at-desc'}">Sort descending by created_at</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        <a th:href="@{/admin/product/create}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add new</a>
    </form>

    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>STT</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
            <th>Image</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod, stt : ${list}">
            <td th:text="${stt.index + 1}"></td>
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.category.name}"></td>
            <td>
                <span th:text="${prod.price}"></span>
                <span class="label label-success" th:text="${prod.salePrice}"></span>
            </td>
            <td th:text="${prod.status == 0 ? 'Hidden' : 'Publish'}"></td>
            <td>
                <img th:src="@{'/uploads/product/' + ${prod.image}}" width="40">
            </td>
            <td class="text-right" sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                <form th:action="@{/admin/product/delete/{id}(id=${prod.id})}" method="post">

                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete it?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
                <a th:href="@{/admin/product/edit/{id}(id=${prod.id})}" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>