<div th:fragment="content">
        <table class="table table-hover" >
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Created At</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cus : ${customers}">
                <td th:text="${cus.id}"></td>
                <td th:text="${cus.name}"></td>
                <td th:text="${cus.email}"></td>
                <td th:text="${cus.phone}"></td>
                <td th:text="${cus.address}"></td>
                <td th:text="${cus.gender == 0 ? 'Nu' : 'Nam'}"></td>
                <td th:text="${#dates.format(cus.createdAt, 'dd/MM/yyyy')}"></td>
                <td>
                    <a th:href="@{/admin/customer/edit/{id}(id=${cus.id})}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                    <form th:action="@{/admin/customer/delete/{id}(id=${cus.id})}" method="post" style="display:inline;">
                        <button class="btn btn-sm btn-danger" onclick="return confirm('Are you sure want to delete it?')"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
</div>

