
<div th:fragment="content">
  <div class="area-bg" data-background="uploads/bg/area_bg.jpg">

    <!-- banner-area -->
    <section class="banner-area banner-bg tg-motion-effects" data-background="uploads/banner/banner_bg.png">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-content">
              <h1 class="title wow fadeInUp" data-wow-delay=".2s" ></h1>
              <span class="sub-title wow fadeInUp" data-wow-delay=".4s">Butcher & Meat shop</span>
              <a th:href="@{/home/category}" class="btn wow fadeInUp" data-wow-delay=".6s">order now</a>
            </div>
            <div class="banner-img text-center wow fadeInUp" data-wow-delay=".8s">
              <img th:src="@{uploads/banner/banner_img.png}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="banner-shape-wrap">
        <img th:src="@{uploads/banner/banner_shape01.png}" alt="" class="tg-motion-effects5">
        <img th:src="@{uploads/banner/banner_shape02.png}" alt="" class="tg-motion-effects4">
        <img th:src="@{uploads/banner/banner_shape03.png}" alt="" class="tg-motion-effects3">
        <img th:src="@{uploads/banner/banner_shape04.png}" alt="" class="tg-motion-effects5">
      </div>
    </section>
    <!-- banner-area-end -->

    <!-- features-area -->
    <section class="features-area pt-130 pb-70">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" th:each="np : ${newsProducts}">
            <div class="features-item tg-motion-effects">
              <div class="features-content">
                <span th:text="${np.category.name}"></span>
                <h4 class="title">
                  <a th:href="@{/product/detail/{id}(id=${np.id})}" th:text="${np.name}"></a>
                </h4>
                <div class="favorite-action">
                  <div th:if="${session.cus != null}">
                    <a th:if="${np.favorited}" title="Bỏ thích" onclick="return confirm('Bạn có muốn bỏ thích không')"
                       th:href="@{/favorite/delete/{id}(id=${np.favoriteId})}">
                      <i class="fas fa-heart"></i>
                    </a>
                    <a th:unless="${np.favorited}" title="Yêu thích" th:href="@{/favorite/insert/{id}(id=${np.id})}">
                      <i class="far fa-heart"></i>
                    </a>
                    <!--                    <button style="border: none; background-color: #fff;" class="add_to_cart" title="Thêm vào giỏ hàng">-->
                    <!--                      <i class="fa fa-shopping-cart"></i>-->
                    <!--                    </button>-->
                    <a th:href="@{/cart/insert/{id}(id=${np.id})}">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                    <input class="product_id" type="hidden" name="product_id" th:value="${np.id}">
                  </div>
                  <div th:unless="${session.cus != null}">
                    <a title="Thêm vào giỏ hàng" th:href="@{/acc/login}" onclick="alert('Vui lòng đăng nhập để thêm giỏ hàng')">
                      <i class="fa fa-shopping-cart"></i>
                    </a>
                  </div>
                </div>
                <div>
                  <span th:if="${np.salePrice > 0}">
                      <s th:text="${#numbers.formatInteger(np.price, 3, 'COMMA') + ' VND'}"></s>
                      <span class="price" th:text="${#numbers.formatInteger(np.salePrice, 3, 'COMMA') + ' VND'}"></span>
                  </span>
                  <span th:unless="${np.salePrice > 0}" class="price" th:text="${#numbers.formatInteger(np.price, 3, 'COMMA') + ' VND'}"></span>
                </div>
              </div>
              <div class="features-img">
                <img th:src="@{'/uploads/product/' + ${np.image}}" alt="">
                <div class="features-shape">
                  <img th:src="@{uploads/images/features_shape.png}" alt="" class="tg-motion-effects4">
                </div>
              </div>
              <div class="features-overlay-shape" data-background="uploads/images/features_overlay.png"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- features-area-end -->

  </div>
  <!-- area-bg-end -->

  <!-- product-area -->
  <section class="product-area product-bg" th:data-background="@{uploads/bg/product_bg01.jpg}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb-60">
            <span class="sub-title">Organic Shop</span>
            <h2 class="title">Sale Products</h2>
            <div class="title-shape" th:data-background="@{uploads/images/title_shape.png}"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6" th:each="sp : ${lst_prd_sale}">
          <div class="product-item">
            <div class="product-img">
              <a th:href="@{/product/detail/{id}(id=${sp.id})}">
                <img th:src="@{uploads/product/{image}(image=${sp.image})}" alt="">
              </a>
            </div>
            <div class="product-content">
              <div class="line" th:data-background="@{uploads/images/line.png}"></div>
              <h4 class="title">
                <a th:href="@{/product/detail/{id}(id=${sp.id})}" th:text="${sp.name}"></a>
              </h4>

              <span th:if="${sp.salePrice > 0}">
                            <s th:text="${#numbers.formatInteger(sp.price, 0, 'COMMA') + ' VND'}"></s>
                            <span class="price" th:text="${#numbers.formatInteger(sp.salePrice, 0, 'COMMA') + ' VND'}"></span>
                        </span>
              <span th:unless="${sp.salePrice > 0}" class="price" th:text="${#numbers.formatInteger(sp.price, 0, 'COMMA') + ' VND'}"></span>

              <div th:if="${session.cus != null}">
                <a th:if="${sp.favorited}" title="Bỏ thích" onclick="return confirm('Bạn có muốn bỏ thích không')"
                   th:href="@{/favorite/delete/{id}(id=${sp.favoriteId})}">
                  <i class="fas fa-heart"></i>
                </a>
                <a th:unless="${sp.favorited}" title="Yêu thích" th:href="@{/favorite/insert/{id}(id=${sp.id})}">
                  <i class="far fa-heart"></i>
                </a>
                <!--                <button style="border: none; background-color: #fff;" class="add_to_cart" title="Thêm vào giỏ hàng">-->
                <!--                  <i class="fa fa-shopping-cart"></i>-->
                <!--                </button>-->
                <!--                <input class="product_id" type="hidden" name="product_id" th:value="${sp.id}">-->
                <a th:href="@{/cart/insert/{id}(id=${sp.id})}">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </div>

              <a th:unless="${session.cus != null}" title="Thêm vào giỏ hàng" th:href="@{/acc/login}"
                 onclick="alert('Vui lòng đăng nhập để thêm giỏ hàng')">
                <i class="fa fa-shopping-cart"></i>
              </a>
            </div>
            <div class="product-shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401 314" preserveAspectRatio="none">
                <path d="M331.5,1829h361a20,20,0,0,1,20,20l-29,274a20,20,0,0,1-20,20h-292a20,20,0,0,1-20-20l-40-274A20,20,0,0,1,331.5,1829Z" transform="translate(-311.5 -1829)"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shop-shape">
      <img th:src="@{uploads/product/product_shape01.png}" alt="">
    </div>
  </section>

  <!-- product-area-end -->

  <!-- gallery-area -->
  <div class="gallery-area gallery-bg" th:data-background="@{uploads/bg/}">
    <div class="container">
      <div class="gallery-item-wrap">
        <div class="row justify-content-center">
          <div class="col-88">
            <div class="gallery-active">
              <div class="gallery-item" th:each="image : ${galleryImages}">
                <a th:href="@{uploads/gallery/{img}(img=${image})}" class="popup-image">
                  <img th:src="@{uploads/gallery/{img}(img=${image})}" alt="Gallery Image">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- gallery-area-end -->

  <!-- product-area -->
  <section class="product-area-two product-bg-two" th:data-background="@{uploads/bg/product_bg02.jpg}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb-70">
            <span class="sub-title">Organic Shop</span>
            <h2 class="title">Feature Products</h2>
            <div class="title-shape" th:data-background="@{uploads/images/title_shape.png}"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6" th:each="product : ${lst_prd_feature}">
          <div class="product-item">
            <div class="product-img">
              <a th:href="@{/product/{id}(id=${product.id})}">
                <img th:src="@{'/uploads/product/' + ${product.image}}" alt="Product Image" />
              </a>
            </div>
            <div class="product-content">
              <h4 class="title">
                <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
              </h4>
              <span th:if="${product.salePrice > 0}">
                <s th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} + ' VND'"></s>
                <span class="price" th:text="${#numbers.formatInteger(product.salePrice, 0, 'COMMA')} + ' VND'"></span>
            </span>
              <span th:unless="${product.salePrice > 0}" class="price" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} + ' VND'"></span>
            </div>

            <div th:if="${session.cus != null}">
              <a th:if="${product.favorited}" title="Bỏ thích" onclick="return confirm('Bạn có muốn bỏ thích không')"
                 th:href="@{/favorite/delete/{id}(id=${product.favoriteId})}">
                <i class="fas fa-heart"></i>
              </a>
              <a th:unless="${product.favorited}" title="Yêu thích" th:href="@{/favorite/insert/{id}(id=${product.id})}">
                <i class="far fa-heart"></i>
              </a>
              <!--              <button style="border: none; background-color: #fff;" class="add_to_cart" title="Thêm vào giỏ hàng">-->
              <!--                <i class="fa fa-shopping-cart"></i>-->
              <!--              </button>-->
              <!--              <input class="product_id" type="hidden" name="product_id" th:value="${product.id}">-->

              <a th:href="@{/cart/insert/{id}(id=${product.id})}">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </div>

            <a th:unless="${session.cus != null}" title="Thêm vào giỏ hàng" th:href="@{/acc/login}"
               onclick="alert('Vui lòng đăng nhập để thêm giỏ hàng')">
              <i class="fa fa-shopping-cart"></i>
            </a>

          </div>
        </div>
      </div>
      <div class="shop-now-btn text-center mt-40">
        <a th:href="@{/category}" class="btn">Shop Now</a>
      </div>
    </div>
  </section>

  <!-- product-area-end -->

  <!-- blog-post-area -->
  <!--  <section class="blog-post-area">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-lg-12">-->
  <!--          <div class="section-title text-center mb-70">-->
  <!--            <span class="sub-title">Latest News</span>-->
  <!--            <h2 class="title">Latest News Update</h2>-->
  <!--            <div class="title-shape" th:data-background="@{uploads/images/title_shape.png}"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row justify-content-center">-->

  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->

  <!-- blog-post-area-end -->

</div>

<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    $(".add_to_cart").click(function () {-->
<!--      let productId = $(this).data("id");-->

<!--      $.ajax({-->
<!--        type: "POST",-->
<!--        url: "/cart/add",  // Đường dẫn xử lý thêm vào giỏ hàng-->
<!--        data: { productId: productId },-->
<!--        success: function (response) {-->
<!--          alert("Sản phẩm đã được thêm vào giỏ hàng!");-->
<!--          // Cập nhật giao diện giỏ hàng nếu cần-->
<!--          $("#cart-count").text(response.cartCount);-->
<!--        },-->
<!--        error: function () {-->
<!--          alert("Có lỗi xảy ra, vui lòng thử lại!");-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--  });-->

<!--</script>-->